@import "./function/hsbTohsl";
@import "./init";

html {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    overflow: hidden scroll;

    * {
        font-family: "Jura", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    >* {
        flex-shrink: 0;
    }

    >section.left {
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $_32;

        position: sticky;
        top: 0;
        flex-flow: row;
        left: 0;
        width: 100%;
        height: $_64;
        background-color: #f5f5f5;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);

        @media screen and (min-width: 640px) {
            position: fixed;
            flex-flow: column;
            width: $_80;
            height: 100%;
        }

        @media screen and (min-width: 1280px) {
            left: calc((100% - $_1280) / 2);
        }

        @for $i from 0 through 10 {

            &[data-index="#{$i}"] a:nth-child(#{$i + 1}) {
                border: 1px solid #000000;
                background-color: #303030;
                color: #fff;

                i {
                    transform: scale(80%);
                }
            }
        }

        >a.logo {
            order: 0;
            position: absolute;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            top: 0;
            left: -100%;
            text-decoration: none;
            transition: 0.2s;

            @media screen and (min-width: 414px) {
                left: 0;
            }

            @media screen and (min-width: 640px) {
                top: $_16;
            }

            img {
                width: $_64;
                height: $_64;
                transition: 0.2s;

                @media screen and (min-width: 640px) {
                    width: $_80;
                    height: $_80;
                }
            }

            strong {
                display: none;
                font-size: $_28;
                font-weight: 700;
                writing-mode: vertical-rl;

                @media screen and (min-width: 640px) {
                    display: block;
                }
            }
        }

        a:not(.logo) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $_48;
            height: $_48;
            text-decoration: none;
            color: #303030;
            border: 1px solid #0000000d;
            border-radius: 50%;
            transition: 0.2s;

            @media (hover: hover) {

                &:hover {
                    border: 1px solid #00000034;
                }
            }
        }

        i {
            line-height: $_48;
            font-size: $_24;
            transition: 0.2s;
        }
    }

    >section.right {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        gap: $_24;
        width: 100%;
        transition: 0.2s;

        margin-left: 0;
        padding: $_128 $_16 0;

        @media screen and (min-width: 480px) {
            padding: 20vh $_32 0;
        }

        @media screen and (min-width: 640px) {
            margin-left: $_128;
            padding: 25vh $_32 0 0;
            width: calc(100% - $_128);
            max-width: $_1280 - $_80 - $_48;
        }

        &:has(section.doc) {
            padding: $_32 0 0;

            @media screen and (min-width: 414px) {
                padding: $_32 $_16 0;
            }

            @media screen and (min-width: 480px) {
                padding: $_32 $_32 0;
            }

            @media screen and (min-width: 640px) {
                padding: $_32 $_32 0 0;
            }
        }

        >* {
            flex-shrink: 0;
        }

        >section.logo {
            display: flex;
            justify-content: center;
            align-items: center;

            flex-flow: column;

            @media screen and (min-width: 480px) {
                flex-flow: row;
            }

            img {
                width: $_160;
                filter: drop-shadow(4px 2px 0 #ddd);
                -webkit-filter: drop-shadow(4px 2px 0 #ddd);
            }

            >section {
                display: flex;
                flex-flow: column;

                h1 {
                    font-size: $_48;
                    font-weight: 700;
                    letter-spacing: $_2;
                    filter: drop-shadow(2px 0.5px 0 #000);
                    -webkit-filter: drop-shadow(2px 0.5px 0 #000);

                    span {
                        font-size: $_48;
                        font-weight: 700;
                        letter-spacing: $_2;
                        filter: drop-shadow(2px 0.5px 0 #F5F5F5);
                        -webkit-filter: drop-shadow(2px 0.5px 0 #F5F5F5);

                        &:nth-child(2) {
                            font-size: $_56;
                        }
                    }
                }

                span {
                    font-size: $_24;
                    font-weight: 500;
                    letter-spacing: 0;
                }
            }
        }

        >section.button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
            gap: $_16;

            a {
                display: flex;
                align-items: center;
                gap: $_8;
                top: 0;
                padding: 0 $_16;
                line-height: $_40;
                text-decoration: none;
                font-weight: 700;
                border: 1px solid #00000034;
                border-radius: $_8;
                letter-spacing: 1px;
                transition: 0.2s;

                &:nth-child(1) {
                    color: #fff;
                    background-color: #000;
                    border: 1px solid #000;
                    box-shadow: 0 0 0 #00000000;

                    @media (hover: hover) {

                        &:hover {
                            top: -1px;
                            box-shadow: 0 $_4 $_8 #00000034;
                        }

                        &:active {
                            top: 0;
                            box-shadow: 0 0 0 #00000000;
                        }
                    }
                }

                &:nth-child(2) {
                    color: #fff;
                    background-color: #BA311C;
                    border: 1px solid #BA311C;
                    box-shadow: 0 0 0 #00000000;

                    &:hover {
                        top: -1px;
                        box-shadow: 0 $_4 $_8 #00000034;
                    }

                    &:active {
                        top: 0;
                        box-shadow: 0 0 0 #00000000;
                    }
                }

                &:nth-child(3) {

                    @media (hover: hover) {

                        &:hover {
                            border: 1px solid #000;
                        }
                    }
                }
            }
        }

        >section.intro {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 20vh;
            width: 100%;
            border: 1px solid #777;
            border-radius: $_16;

            flex-flow: column;

            @media screen and (min-width: 800px) {
                flex-flow: row;
            }


            >* {
                flex-shrink: 0;
            }

            @for $i from 0 through 10 {

                &[data-index="#{$i}"]>div:nth-child(#{$i + 1}) {
                    width: 100%;

                    @media screen and (min-width: 800px) {
                        width: calc(100% - $_80 * 3);
                    }

                    >section {
                        flex-grow: 1;
                        height: initial;

                        padding: 0 $_24;
                        width: 100%;

                        @media screen and (min-width: 800px) {
                            padding: 0 $_48;
                            width: calc(100% - $_80);
                        }

                        * {
                            opacity: 1;
                            transition: opacity 0.3s;
                            transition-delay: 0.3s;
                        }
                    }
                }
            }

            >div {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: $_32 0;
                transition: 0.2s;

                flex-flow: column;
                gap: $_32;
                width: 100%;
                height: initial;
                border-radius: $_16 $_16 0 0;
                box-shadow: 0 -2px $_4 #0000000d;

                @media screen and (min-width: 800px) {
                    flex-flow: row;
                    gap: 0;
                    width: $_80;
                    height: $_640;
                    border-radius: $_16 0 0 $_16;
                    box-shadow: -2px 0 $_4 #0000000d;
                }

                &:not(:first-child) {
                    border-left: 1px solid #bbb;
                }

                &:last-child {
                    border-radius: $_16;
                }

                >* {
                    flex-shrink: 0;
                }

                >button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 $_24;

                    flex-flow: row;
                    width: 100%;
                    height: initial;

                    @media screen and (min-width: 800px) {
                        flex-flow: column;
                        width: $_80;
                        height: 100%;
                    }

                    >* {
                        flex-shrink: 0;
                    }

                    * {
                        pointer-events: none;
                    }

                    p {
                        order: 1;
                        text-align: left;
                        font-size: $_24;
                        font-weight: 700;
                        white-space: nowrap;
                        overflow: hidden;
                        transition: 0.2s;
                    }

                    strong {
                        order: 2;
                        text-align: right;
                        font-size: $_24;

                        writing-mode: horizontal-tb;

                        @media screen and (min-width: 800px) {
                            writing-mode: vertical-rl;
                        }
                    }
                }

                >section {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-flow: column;
                    flex-grow: 1;
                    gap: $_32;
                    height: 0;
                    overflow: scroll;
                    transition: padding 0.3s;

                    * {
                        opacity: 0;
                    }

                    strong {
                        width: 100%;
                        font-size: $_32;
                    }

                    p {
                        line-height: $_32;
                        font-size: $_18;
                        max-width: $_512;
                        letter-spacing: 0.5px;

                        code {
                            padding: 0 $_8;
                            font-family: monospace;
                            font-size: $_16;
                            background-color: #0000000d;
                            border-radius: $_2;
                        }
                    }
                }
            }
        }

        >section.block {
            display: flex;
            flex-flow: row wrap;
            margin-top: $_128;

            gap: $_16;

            @media screen and (min-width: 800px) {
                gap: $_32;
            }

            >h2 {
                margin-bottom: $_32;
                width: 100%;
                text-align: center;
                font-size: $_32;
            }

            >div {
                display: flex;
                flex-flow: column;
                gap: $_16;
                padding: $_40 $_32;
                border-radius: $_16;
                border: 1px solid #303030;

                width: 100%;

                @media screen and (min-width: 800px) {
                    width: calc((100% - $_32) / 2);

                    &:nth-child(2),
                    &:nth-child(5),
                    &:nth-child(6) {
                        background-color: #303030;

                        * {
                            color: #fff;
                        }

                        p {
                            code {
                                background-color: #ffffff34;
                            }
                        }
                    }
                }

                strong {
                    font-size: $_24;
                }

                p {
                    line-height: $_32;
                    font-size: $_18;
                    letter-spacing: 0.5px;

                    code {
                        padding: 0 $_8;
                        font-family: monospace;
                        font-size: $_16;
                        background-color: #0000000d;
                        border-radius: $_2;
                    }
                }
            }
        }

        >section.doc {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            min-height: calc(100vh - $safeT - $safeB - $_64);
            border-radius: $_16;
            transition: 0.2s;

            border: 0px solid #77777700;

            @media screen and (min-width: 640px) {
                border: 1px solid #777;
            }

            >* {
                flex-shrink: 0;
            }

            >section.tab {
                z-index: 100;
                position: sticky;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: $_8 $_24;
                padding: $_16;
                border-bottom: 1px solid #303030;
                background-color: #F5F5F5;
                border-radius: $_16 $_16 0 0;
                transition: 0.2s;

                flex-flow: row;
                top: calc($_64 - 4px);
                left: 0;
                margin-top: calc(-8px - $_32);
                margin-left: 0;
                width: 100%;
                overflow: scroll;

                @media screen and (min-width: 414px) {
                    margin-left: -$_16;
                    width: calc(100% + $_32);
                }

                @media screen and (min-width: 480px) {
                    margin-top: calc(-8px - $_32);
                    margin-left: -$_32;
                    width: calc(100% + $_64);
                }

                @media screen and (min-width: 640px) {
                    flex-flow: row wrap;
                    top: 0;
                    margin-top: 0;
                    margin-left: 0;
                    width: 100%;
                }

                @for $i from 0 through 15 {

                    &[data-index="#{$i}"] button:nth-child(#{$i + 1}) {
                        padding: 0 $_16;
                        background-color: #303030;
                        color: #fff;
                    }
                }

                >* {
                    flex-shrink: 0;
                }

                button {
                    line-height: $_40;
                    border-radius: $_8;
                    transition: 0.2s;
                }
            }

            >section.body {
                width: 100%;
                flex-grow: 1;

                padding: 0 $_16 $_32;

                @media screen and (min-width: 480px) {
                    padding: 0 $_24 $_32;
                }

                @media screen and (min-width: 640px) {
                    padding: 0 $_32 $_32;
                }
            }
        }

        >footer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            gap: $_12;
            padding: $_128 0 $_48;
            width: 100%;
            // background-color: #303030;
            color: #000;

            p,
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}